body {
    background-image: url(/img/Simple\ Shiny.svg);
}

.animation-welcome {
    animation: animation1 ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    

}

@keyframes animation1 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
    
  }

a {
    text-decoration: none;
    
}

.welcome {
    min-height: 100vh;
}

